


#contact-us-title {
    background-color: white;
    color: black;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* Sticky Social-Media */
#sticky-social {
    z-index: 5;
    text-align: center;
    font-size: 24px;
    background-color: transparent;
    position: fixed;
    top: 150px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 50px;
}


/* Article Title */
#article-title {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#article-title h2 {
    padding-bottom: 60px;
}
#article-title .col-xs-8 hr {
     border: solid 1px #9AC6EA !important;
}

/* Article Image */
#article-image {
    background-color: white;
}
#article-image h1 {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: left;
    font-weight: bold;
}
#article-image h2 {
    text-align: left;
}
#article-image h3 {
    text-align: left;
}
#article-image h4 {
    text-align: left;
}
#article-image p {
    text-align: left;
}

/* content section 1 */
#content-1 {
    background-color: white;
}

/* Website Name 1 */
#website-1 {
    background-color: white;
}

/* Website Name 2 */
#website-2 {
    background-color: white;
}

/* Website Name 3 */
#website-3 {
    background-color: white;
}
#website-3 h4 {
    padding-top: 30px;
    padding-bottom: 30px
}

/* Misc Content */
#misc {
    background-color: white;
    padding-bottom: 20px;
}
#misc ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}


/* Browse Resource */
#browse {
    background-color: white;
    padding-bottom: 80px;
}
#browse h3 {
    padding-bottom: 25px;
}
#browse ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}
#browse ul li {
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}
#browse li img {
    width: 12%;
    height: auto;
}
/* Recent Apps */
#recent-apps {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}
#recent-apps hr {
    border: solid 1px #9AC6EA !important;
}
#recent-apps h4 {
    font-size: 28px;
}




#article-tags {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
}
#article-tags h4 {
    margin: 0;
    padding: 0;
}

#article-tags .tag {
    border: 1px solid black;
    width: 50px;
    height: 20px;
    top: 10px;
    display: inline-block;
    margin-right: 5px;
    float: left;
}



/* EZOIC ADS */
#ezoic-ads-top {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #C7E9ED !important;
    text-align: center;
    position: relative;
}

#ezoic-ads {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C7E9ED !important;
    text-align: center;
    position: relative;
}


#ezoic-pub-ad-placeholder-105 {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    background-color: white;
}

#ezoic-pub-ad-placeholder-106 {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    background-color: white;
}

#ezoic-pub-ad-placeholder-107 {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    background-color: white;
}



/* Digital Apps */

.apps {
    padding-top: 30px;
    background-color: white;
}

.app-image {
    width: 100px;
    height: 100px;
    display: inline-block;
}
.app-image-1 {
    background: url('/teethwhitening_app1.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.app-image-2 {
    background: url('/teethwhitening_app2.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.app-image-3 {
    background: url('/teethwhitening_app3.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.app-image-4 {
    background: url('/teethwhitening_app4.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.app-image-5 {
    background: url('/teethwhitening_app5.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.app-image-6 {
    background: url('/teethwhitening_app6.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.app-desc {
    font-size: 14px;
}

.app-store {
    background: url("/appstore_icon.png") no-repeat;
    background-size: cover;
    padding-bottom: 6px;
    padding-right: 70px;
}
.android-store {
    background: url("/en_badge_web_generic.png") no-repeat;
    background-size: cover;
    padding-top: 2px;
    padding-bottom: 6px;
    padding-right: 70px;
}

#article-tags .col-xs-0 h4 {
    display: block;
}

/* Responsive*/

@media screen and (max-width: 1200px) {

    header .Title {
        display: inline-block;
    }
    header .ED-desc {
        display: none;
    }
    header .search-menu {
        float: right;
        display: inline-block;
    }
    header .hr {
        display: none;
    }

}


@media screen and (max-width: 995px) {

    #sticky-social {
        display: none !important;
    }

    .app-desc {
        left: 80px !important;
    }

    #article-title hr {
        border: solid 1px #9AC6EA !important;
    }

    #article-tags .col-xs-0 h4 {
        display: none;
    }
    #browse .col-xs-10 .right-side {
        padding-top: 0px !important;
        padding-right: 76px !important;
    }
/*
    #article-image p {
        font-size: 30px;
    }
    #article-title p {
        font-size: 30px;
    }
    #content-1 p {
        font-size: 30px;
    }*/
}

@media screen and (max-device-width: 995px) {

    #sticky-social {
        display: none !important;
    }

    .app-desc {
        left: 80px !important;
    }

    #article-title hr {
        border: solid 1px #9AC6EA !important;
    }

    #article-tags .col-xs-0 h4 {
        display: none;
    }

    #article-image p {
        font-size: 18px;
    }
    #article-image ul {
        font-size: 18px;
    }
    #article-title p {
        font-size: 18px;
    }
    #content-1 p {
        font-size: 18px;
    }
}
