/*

Contact Us CSS

*/


/* Contact Us Form */
#contact-us {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}
#contact-us .col-xs-12 {
    display: inline-block;
}
#contact-us .col-xs-12 input {
    border: 1px solid black;
    margin-top: 10px;
}
#contact-us .col-xs-12 textarea {
    margin-top: 15px;
}
#contact-us .col-xs-12 button {
    background: linear-gradient(to left top, #68CCF9, #54A4C9);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 26px;
    padding-left: 26px;
    border-radius: 20px;
    margin-top: 20px;
}



/* Responsive*/

@media screen and (max-width: 1200px) {

    header .Title {
        display: inline-block;
    }
    header .ED-desc {
        display: none;
    }
    header .search-menu {
        float: right;
        display: inline-block;
    }
    header .hr {
        display: none;
    }

}
