/*

Page A CSS

*/


/* Landing Section */
#landing {
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}

.landing-title {
    font-weight: bold;
    font-size: 50px;
}


/* Responsive*/


@media screen and (max-width: 580px) {

    #break-point-2 {
        background:
        linear-gradient(
            to left,
            white,
            rgba(255, 255, 255, 0.7)),
        url("/ed_healthtips1_s.jpg") no-repeat center;
    background-size: cover;
    }
    #break-point-2 .col-xs-6 {
        width: 10% !important;
    }
    #break-point-2 .col-xs-4 {
        width: 80% !important;
    }
    #break-point-2 .col-xs-2 {
        width: 10% !important;
    }

    #break-point-3 {
        background:
        linear-gradient(
            to right,
            white,
            rgba(255, 255, 255, 0.7)),
        url("/ed_healthtips2_s.jpg") no-repeat center;
    background-size: cover;
    }
    #break-point-3 .col-xs-2 {
        width: 10% !important;
    }
    #break-point-3 .col-xs-4 {
        width: 80% !important;
    }
    #break-point-3 .col-xs-6 {
        width: 10% !important;
    }

    #email-subscription .email-form h3 {
        padding-top: 10px !important;
    }

}

@media screen and (max-width: 682px) {

    #email-subscription .email-form h3 {
        margin-top: 10px;
    }
    #email-subscription .email-form p {
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 780px) {

    #email-subscription #footer-email-form {
        padding-left: 0px !important;
    }
    #email-subscription #Footer-Email {
        margin-right: 0px !important;
        width: 80% !important;
    }
    #email-subscription #Footer-Submit {
        margin-top: 5px !important;
    }
    #email-subscription .email-form h3 {
        font-size: 22px;
    }
    #email-subscription .email-form p {
        font-size: 12px;
    }

}

@media screen and (max-width: 946px) {

    #videos .video-border {
        display: inline-block;
        width: 100%;
        margin: 5px 0px;
        background: none;
        border: 2px solid lightgray;
    }
    #videos #video-one {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-two {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-three {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-four {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-five {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-six {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-seven {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-eight {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-nine {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos .video-border p {
        padding-top: 10px;
    }
}

@media screen and (max-width: 1200px) {

    header .Title {
        display: inline-block !important;
    }
    header .ED-desc {
        display: none;
    }
    header .search-menu {
        float: right;
        display: inline-block;
    }
    header .hr {
        display: none;
    }
    #resources .col-xs-2:hover {
        z-index: 100 !important;
    }
    #resources .col-xs-4:hover {
        z-index: 100 !important;
    }

}

@media screen and (max-width: 577px) {

    #resources .col-xs-4:hover {
    }

    #resources .col-md-2:hover {
    }
}
