/* 

Master CSS 

*/

html {
    overflow-x: hidden;
}

/* Body */
body {
    padding: 0 !important;
    background-color: grey;
    overflow-x: hidden;
    font-family: Montserrat !important;
    width: 100%;
    height: auto 100%;
    margin: auto 0;
    position: relative;
    transition: all 0.5s ease;
}

.top-nav {
    position: fixed;
    z-index: 101;
    width: 100%;
}

/* Header */
header {
    z-index: 101;
    width: 100%;
    top: 0;
    background-color: #DAE8F2;
    padding: 1rem 0rem;
    font-size: 2rem;
}
header .condition {
    color: #7ca9d8;
    font-family: Montserrat;
    letter-spacing: 0.5px;
}
header .pedia {
    font-weight: 0;
    font-size: 2rem;
}
header .search-menu {
    text-align: right;
    font-size: 2rem;
}
header .search-menu i {
    color: black;
}
header a {
    text-decoration: none;
    color: black;
}

/* DROP DOWN MENU */
#main-menu {
    display: none;
    overflow: auto;
    max-height: 99vh;
    padding-bottom: 5rem;
}
#main-menu .container {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #494548;
}
#main-menu .container .row {
    background-color: #494548 !important;
    padding: 1rem 0rem;
}
#main-menu .menu-left {
    text-align: left;
    line-height: 1.5rem;
}
#main-menu .menu-left div {
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    padding: 1.5rem 0rem;
}
#main-menu .menu-left div a {
    color: white;
}
#main-menu .menu-left span h4 {
    font-size: 1.5rem;
    padding: 2rem 0rem 0rem;
    color: #cccccc;
}
#main-menu .menu-left span p {
    color: white;
    font-size: 1.5rem;
}

#main-menu .col-md-3 {
    text-align: left;
    line-height: 2rem;
}
#main-menu .col-md-3 h4 {
    font-family: Montserrat;
    font-size: 1.5rem;
    margin: 1rem 0rem 0rem;
}
#main-menu .col-md-3 img {
    width: 195px;
    padding: 1rem 0rem 4rem;
}

textarea:focus, input:focus {
    color: black;
}
#main-menu .col-md-3 form input {
    font-size: 1.5rem;
    position: relative;
    width: 23rem;
    height: 3rem;
    color: black;
}
#main-menu .col-md-3 form button {
    font-size: 1.5rem;
    position: absolute;
    float: right;
    width: 15rem;
    height: 3rem;
    border-radius: initial;
    padding: 0rem 1rem;
    background-color: #2ED2F7;
}
#main-menu .col-md-3 i {
    font-size: 2rem;
    padding-right: 0rem;
    color: white;
}
#main-menu .col-md-3 div p {
    /* padding: 8px 0px; */
}

/* How */
#how {
    background-color: #AED8F9;
    padding: 5rem;
}
#how .how-title {
    margin-left: 0rem;
}
#how .how-title h4 {
    font-weight: bold;
}
#how .how-body p {
    font-size: 12px;
    text-align: left;
    padding: 0rem;
}

/* Footer */
#footer {
    background-color: #9AC6EA;
    padding: 5rem;
}
#footer h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0rem;
}
#footer p {
    margin: 6px 0px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
