/* Responsive CSS */

@media screen and ()

@media screen and (max-device-width: 1025px) {
    
    html {
        overflow-x: hidden;
    }
    
    p {
        margin: 0 0 3rem;
        font-family: Roboto !important;
    }

    #landing span {
        font-size: 2rem !important;
    }
    #landing .left-side {
        text-align: center !important;
        max-height: 1221px !important;
    }
    #landing .left-side i {
        left: 49% !important;
    }
    #landing .left-side button {
        margin-top: 40px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        width: auto !important;
        border-radius: 0 !important;
        background-color: #4CE4FF !important;
        color: white !important;
    }
    #landing .button span {
        cursor: pointer !important;
        display: inline-block !important;
        position: relative !important;
        transition: 0.5s !important;
    }
    
    #landing .button span:after {
        position: absolute !important;
        opacity: 0 !important;
        top: 0 !important;
        right: -50px !important;
        transition: 0.5s !important;
    }
    #landing .button:hover span {
        padding-right: 40px !important;
    }
    #landing .button:hover span:after {
        opacity: 1 !important;
        right: 0 !important;
    }
    #landing .left-side button:hover {
        box-shadow: 2px  2px  8px  2px  #00272D !important;
    }
    
    #landing .middle-side {
        text-align: center !important;
        width: auto !important;
    }
    #landing .right-side {
        text-align: center !important;
    }
    
    #landing .banner {
        height: 190px !important;
        width: 100% !important;
        background: linear-gradient(to right, white, rgba(255, 255, 255, 0.8)) !important;
        left: 0 !important;
        top: 63% !important;
        position: absolute !important;
    }
    #landing .banner .banner-info {
        padding-left: 20px !important;
    }
    #landing .banner .banner-info h2 {
        margin: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 15px !important;
    }
    #landing .banner i {
        color: #46ADD6 !important;
        font-size: 14px !important;
    }
    #break-point-1 {
        padding-top: 30px !important;
    }
    #break-point-1 h4 {
        font-size: 20px !important;
    }
    #break-point-1 span {
        font-size: 26px  !important;
        padding-bottom: 40px;
    }
    #break-point-1 i {
        font-size: 24px  !important;
    }
    
    #resources p {
        font-size: 20px  !important;
    }
    #resources .row .col-xs-12 {
        padding-top: 30px !important;
        padding-bottom: 100px !important;
    }
    #resources a {
        text-decoration: none !important;
        color: black!important;
    }
    #resources .row .col-xs-12 img {
        width: 50px !important;
        height: 50px !important;
    }

    #featured h3 {
        font-size: 24px !important;
    }
    
    
    #resources .one {
        background-color: #E4EEF7 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .two {
        background-color: #D8E6F3 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .three {
        background-color: #CCDDEF !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .four {
        background-color: #BFD5EC !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .five {
        background-color: #B2CCE7 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .six {
        background-color: #A5C4E3 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .seven {
        background-color: #99BBE0 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .eight {
        background-color: #8CB3DC !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .nine {
        background-color: #7FAAD7 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .ten {
        background-color: #6C8A8D !important;
        min-height: 140px !important;
        max-height: 140px !important;
        color: white;
    }
    #resources .eleven {
        background-color: #5A7682 !important;
        color: white;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .twelve {
        background-color: #456572 !important;
        color: white;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    
    /* Break Point 2 */
    #break-point-2 {
        background:
        linear-gradient(
                to left,
                white,
                rgba(255, 255, 255, 0.6)),
            url("/teethwhitening_healthtip1_s.jpg") no-repeat center;
            background-size: cover;
            padding-top: 40px;
            padding-bottom: 40px;
    }
    #break-point-2 h3 {
        font-size: 24px !important;;
    }
    #break-point-2 p {
        font-size: 20px !important;
    }
    #break-point-2 button span {
        font-size: 20px !important;
    }
    
    /* Break Point 3 */
    #break-point-3 {
        background:
        linear-gradient(
            to right,
                white,
                rgba(255, 255, 255, 0.6)),
                url("/teethwhitening_healthtip2_s.jpg") no-repeat center;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #break-point-3 h3 {
        font-size: 24px;
    }
    #break-point-3 p {
        font-size: 20px;
    }
    #break-point-3 button span {
        font-size: 20px;
    }
    
    #common-health .question {
        font-size: 20px !important;
        padding-bottom: 40px;
    }
    
    #common-health .question-toggle {
        font-size: 20px;
    }
    
    
    /* #videos p {
        text-align: center !important;
        white-space: inherit !important;
    }
    #videos .video-border {
        display: inline-block;
        width: 100%;
        margin: 5px  0px ;
        background: none;
        max-height: 230px;
        min-height: 230px;
    }
    #videos #video-one {
        width: 50% !important;
        float: left;
        margin-right: 10px ;
    }
    #videos #video-two {
        width: 50% !important;
        float: left;
        margin-right: 10px ;
    }
    #videos #video-three {
        width: 50% !important;
        float: left;
        margin-right: 10px ;
    }
    #videos #video-four {
        width: 50% !important;
        float: left;
        margin-right: 10px ;
    }
    #videos #video-five {
        width: 50% !important;
        float: left;
        margin-right: 10px ;
    }
    #videos #video-six {
        width: 50% !important;
        float: left;
        margin-right: 10px ;
    }
    #videos #video-seven {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-eight {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos #video-nine {
        width: 50% !important;
        float: left;
        margin-right: 10px;
    }
    #videos .video-border p {
        padding-top: 10px;
    } */
}

@media screen and (max-width: 1042px) {
    
    header .Title {
        display: inline-block !important;
    }
    header .condition-desc {
        display: none;
    }
    header .search-menu {
        float: right;
        display: inline-block;
    }
    header .hr {
        display: none;
    }

    /* Videos */
    #videos .video-border {
        display: inline-block !important;
        width: 100% !important;
        margin: 5px  0px !important;
        background-color: #E6EAED;
        min-height: 25rem !important;
        max-height: none !important;
        border: 1px solid black !important;
    }
    #videos #video-one {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-two {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-three {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-four {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-five {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-six {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-seven {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-eight {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-nine {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos .video-border p {
        padding: 0rem 1rem 1rem !important;
        text-align: center !important;
        white-space: inherit !important;
        min-height: 0rem !important;
        margin: 0rem !important;
    }


    #resources .col-xs-2:hover {
        z-index: 100 !important;
    }
    #resources .col-xs-4:hover {
        z-index: 100 !important;
    }
}
    
/* Mobile */

@media screen and (max-device-width: 414px) {
    
    html {
        overflow-x: hidden !important;
    }
    p {
        margin: 0 0 3rem !important;
        font-family: Roboto !important;
    }

    /* Header */

    header {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    header .Title {
        display: block !important;
    }
    header .condition {
        font-size: 2rem !important;
    }
    header .pedia {
        font-size: 2rem !important;
    }
    header .condition-desc {
        font-family: Roboto !important;
        display: block !important;
        font-size: 1.3rem !important;
    }
    header .search-menu {
        float: right !important;
        display: inline-block !important;
    }
    header .hr {
        display: none !important;
    }
    header .search-menu i {
        font-size: 3rem !important;
        margin: .5rem auto !important
    }

    /* Drop-Down Menu */

    #main-menu {
        max-height: 100vh !important;
        overflow: auto !important;
        padding-bottom: 10rem !important;
    }
    #main-menu p {
        font-family: Montserrat !important;
    }
    #main-menu .menu-left {
        padding-bottom: 3rem !important;
    }
    #main-menu .menu-left .drop-header {
        font-size: 1.6rem !important;
        padding: 2rem 0rem !important;
    }
    #main-menu .menu-left .drop-resources {
        font-size: 1.6rem !important;
        padding: 2rem 1rem !important;
    }
    #main-menu .menu-left span h4 {
        font-size: 1.6rem !important;
        font-weight: normal !important;
        color: #cccccc;
        margin: 0px !important;
    }
    #main-menu .menu-left p {
        font-size: 1.6rem !important;
        color: #cccccc;
        margin: 1rem !important
    }
    #main-menu .col-md-3 h4 {
        font-size: 1.6rem !important;
        font-weight: normal;
        padding-bottom: .5rem !important;
    }
    #main-menu .col-md-3 p {
        font-size: 1.6rem !important;
        margin: 0 0 .5rem !important;
    }
    #main-menu .col-md-3 img {
        padding-bottom: 2rem !important;
    }
    #main-menu #Nav-Email {
        font-size: 1.6rem !important;
        width: 68% !important;
        height: 3rem !important;
    }
    #main-menu #Nav-Submit {
        font-size: 1.6rem !important;
        height: 3rem !important;
        width: 30% !important;
    }

    /* Landing */

    #landing .left-side {
        text-align: center !important;
        padding: 2rem 2rem 4rem !important;
        min-height: 0rem !important;
    }
    #landing .left-side h1 {
        padding-bottom: 1rem !important;
    }
    #landing .left-side p {
        font-size: 1.5rem !important;
        padding-bottom: 1rem !important;
        margin: 0rem !important;
    }
    #landing .left-side i {
        left: 49% !important;
    }
    #landing .left-side button {
        margin: 0rem !important;
        padding: 1rem 2rem !important;
        width: auto !important;
        border-radius: 0 !important;
        background-color: #4CE4FF !important;
        color: white !important;
    }
    #landing .button span {
        cursor: pointer !important;
        display: inline-block !important;
        position: relative !important;
        transition: 0.5s !important;
        font-size: 2rem !important;
    }
    #landing .button span:after {
        position: absolute !important;
        opacity: 0 !important;
        top: 0 !important;
        right: -50px !important;
        transition: 0.5s !important;
    }
    #landing .button:hover span {
        padding-right: 40px !important;
    }
    #landing .button:hover span:after {
        opacity: 1 !important;
        right: 0 !important;
    }
    #landing .left-side button:hover {
        box-shadow: 2px  2px  8px  2px  #00272D !important;
    }

    #landing .middle-side {
        text-align: center !important;
        width: auto !important;
    }
    #landing .right-side {
        text-align: center !important;
    }

    #landing .banner {
        height: 190px !important;
        left: 0 !important;
        top: 63% !important;
        position: absolute !important;
    }
    #landing .banner .banner-info {
        padding-left: 20px !important;
        margin: 3rem auto !important;
    }
    #landing .banner .banner-info h2 {
        font-size: 2rem !important;
        margin: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 15px !important;
    }
    #landing .banner i {
        color: #46ADD6 !important;
        font-size: 14px !important;
    }

    /* Break Point 1 */
    #break-point-1 {
        padding-top: 3rem !important;
    }
    #break-point-1 h4 {
        font-size: 2rem !important;
    }
    #break-point-1 span {
        font-size: 26px  !important;
        padding-bottom: 40px;
    }
    #break-point-1 i {
        font-size: 24px  !important;
    }

    /* Resources */
    #resources p {
        font-size: 2rem !important;
        font-family: Montserrat !important
    }
    #resources .row .col-xs-12 {
        padding-top: 30px !important;
        padding-bottom: 100px !important;
    }
    #resources a {
        text-decoration: none !important;
        color: black!important;
    }
    #resources .row .col-xs-12 img {
        width: 50px !important;
        height: 50px !important;
    }

    #featured h3 {
        font-size: 24px !important;
    }

    #resources .one {
        background-color: #E4EEF7 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .two {
        background-color: #D8E6F3 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .three {
        background-color: #CCDDEF !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .four {
        background-color: #BFD5EC !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .five {
        background-color: #B2CCE7 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .six {
        background-color: #A5C4E3 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .seven {
        background-color: #99BBE0 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .eight {
        background-color: #8CB3DC !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .nine {
        background-color: #7FAAD7 !important;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .ten {
        background-color: #6C8A8D !important;
        min-height: 140px !important;
        max-height: 140px !important;
        color: white;
    }
    #resources .eleven {
        background-color: #5A7682 !important;
        color: white;
        min-height: 140px !important;
        max-height: 140px !important;
    }
    #resources .twelve {
        background-color: #456572 !important;
        color: white;
        min-height: 140px !important;
        max-height: 140px !important;
    }

    /* Break Point 2 */
    #break-point-2 {
        background:
            linear-gradient(
                to left,
                white,
                rgba(255, 255, 255, 0.6)),
            url("/teethwhitening_healthtip1_s.jpg") no-repeat center;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #break-point-2 h3 {
        font-size: 24px !important;;
    }
    #break-point-2 p {
        font-size: 20px !important;
    }
    #break-point-2 button span {
        font-size: 20px !important;
    }

    /* Break Point 3 */
    #break-point-3 {
        background:
            linear-gradient(
                to right,
                white,
                rgba(255, 255, 255, 0.6)),
            url("/teethwhitening_healthtip2_s.jpg") no-repeat center;
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #break-point-3 h3 {
        font-size: 24px;
    }
    #break-point-3 p {
        font-size: 20px;
    }
    #break-point-3 button span {
        font-size: 20px;
    }

    #common-health .question {
        font-size: 20px !important;
        padding-bottom: 40px;
    }

    #common-health .question-toggle {
        font-size: 20px;
    }

    /* Videos */
    #videos .video-border {
        display: inline-block !important;
        width: 100% !important;
        margin: 5px  0px !important;
        background-color: #E6EAED;
        min-height: 25rem !important;
        border: 1px solid black !important;
    }
    #videos #video-one {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-two {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-three {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-four {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-five {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-six {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-seven {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-eight {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos #video-nine {
        width: 100% !important;
        margin-right: 10px !important;
        margin-bottom: 2rem !important;
    }
    #videos .video-border p {
        padding: 0rem 1rem 1rem !important;
        text-align: center !important;
        white-space: inherit !important;
        min-height: 0rem !important;
        margin: 0rem !important;
    }

    /* Community */

    #community a h4 {
        padding: 1rem 1rem 0rem !important;
    }
    #community a p {
        margin: 0rem !important;
        padding: 1rem !important;
    }


    /* How */

    #how {
        padding: 2rem 1rem 3rem !important;
    }
    #how h4 {
        font-size: 2rem !important;
        padding: 0rem 0rem 1rem !important;
    }
    #how p {
        padding: 0rem !important;
        font-size: 1.5rem !important;
        margin: 0rem !important;
    }

    /* Footer */
    
    #footer {
        padding: 3rem 1rem 2rem !important;
    }
    #footer .col-xs-6 {
        text-align: center !important;
    }
    #footer .col-xs-6 h4 {
        font-size: 2rem !important;
    }
    #footer .col-xs-6 p {
        font-size: 1.5rem !important;
        margin: 1rem 0rem !important;
    }
    #footer .col-xs-12 {
        padding: 2rem 0rem !important;
    }
    #footer .footer-logo img {
        width: 75% !important;
        margin: 2rem 0rem 1rem 4rem !important;
        padding-top: 0rem !important;
    }
    #footer .footer-logo p {
        font-size: 1.5rem !important;
        text-align: center !important;
        margin: 0rem !important;
    }

    #contact-us-title p {
        margin: 0rem !important;;
    }

    #article-title {
        padding-bottom: 0rem !important;
    }
    #article-title h1 {
        font-size: 3rem !important;
        margin: 2rem 0rem !important;
    }
    #article-title p {
        font-size: 1.5rem !important;
        margin: 0rem 0rem 1rem !important;
        line-height: 2.5rem !important;
    }

    #article-image p {
        font-size: 1.5rem !important;
        margin: 1rem 0rem 1rem !important;
        line-height: 2.5rem !important;
    }

    #content-1 h2 {
        font-size: 2rem !important;
    }
    #content-1 h3 {
        font-size: 1.8rem !important;
    }
    #content-1 p {
        font-size: 1.5rem !important;
        margin: 0rem 0rem 1rem !important;
        line-height: 2.5rem !important;
    }
    #content-1 a {
        word-break: break-word !important;
    }
    #content-1 li {
        font-family: Roboto !important;
        line-height: 2.5rem !important;
    }

    #website-1 p {
        margin: 0rem 0rem 1rem !important;
        word-break: break-word !important;
    }
    #website-1 h2 {
        font-size: 2rem !important;
    }
    
    #browse {
        padding: 2rem 0rem 3rem !important;
    }
    #browse h3 {
        padding-bottom: 0 !important;
    }

    #article-app-1 p {
        margin: 0 0 1rem !important;
    }



}

/* Mobile */
@media screen and (max-device-width: 372px) {
    
    header .condition-desc {
        font-size: 1.09rem !important;
    }

    #main-menu .col-md-3 p {
        font-size: 1.5rem !important;
    }

}