<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../lib/index_c_css.ejs %>

        <!-- Head -->
        <%- include ./partials/head %>

    </head>

    <body>

        <%- include ./partials/header %>

        <section id="page-not-found"  style="text-align: center; padding-top: 200px; padding-bottom: 200px; background-color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h3 style="font-size: 30px;">This Page Doesn't Exist..</h3>
                        <p style="font-size: 20px;">If you're looking for something specific, <br>Please reference our contact us form or contact our team at team@doctorpedia.com</p>
                        <br>
                        <a href="/contact-us" style="color: white;"><button style="border-radius: 0; background-color: #22DDFE;" type="button" name="button" class="button btn"><span>Contact Us</span></button></a>
                    </div>
                </div>
            </div>
        </section>


        <%- include ./partials/footer.ejs %>

        <%- include ./partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../lib/google_analytics %>


</html>
