<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TeethWhitening | Doctorpedia</title>
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="./bower_components/hover/css/hover.css">
        <link rel="stylesheet" type="text/css" href="../css/video_singular.css">
        <link rel="stylesheet" type="text/css" href="../css/menu_drop.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

    <body>

        <!-- Header -->
        <div class="top-nav">
            <header id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 Title">
                            <img src="../img/logo_doctorpedia.png" style="width: 150px; display: inline-block;" alt="">
                            <div class="" style="display: inline-block;">
                                | Learn From Real Doctors
                            </div>
                        </div>
                        <div class="col-lg-3">
                                <span style="display: inline-block; float: right; font-size: 10px; border: 1px solid blue;">Are you a Doctor?</span>
                                <img src="../img/icon_doctor.png" style="float: right; width: 22px; display: inline-block;" alt="">

                        </div>
                        <div class="col-lg-4 search-menu">

                            <a href="#"><i class="fa fa-bars toggle-menu" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Drop Down Menu -->
            <section id="main-menu">
                <div class="container animated fadeInDown">
                    <div class="row">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-4 menu-left ">
                            <div class="" style="font-size: 18px !important;">
                                Resource Guide
                                <i class="fa fa-info-circle" style="float: right; font-size: 14px;" aria-hidden="true"></i>
                            </div>
                            <div class="">
                                <a href="/article">News & Information</a>
                            </div>
                            <div class="">
                                <a href="/article">Treatments & Therapies</a>
                            </div>
                            <div class="">
                                <a href="/article">Digital Apps</a>
                            </div>
                            <div class="">
                                <a href="/article">Nutrition & Fitness</a>
                            </div>
                            <div class="">
                                <a href="/article">Community & Support</a>
                            </div>
                            <div class="">
                                <a href="/article">Non-profit Organization</a>
                            </div>
                            <span class="">
                                <h4>About</h4>
                                <p><a href="/contact-us">Contact Us</a></p>
                                <h4>Legal</h4>
                                <a href="/privacy-policy"><p>Privacy Policy</p></a>
                                <a href="/terms-of-use"><p>Terms Of Use</p></a>
                                <p><a href="#">Accessibility</a></p>
                            </span>
                        </div>
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <h4>Learn From Real Doctors</h4>
                            <img src="./img/doctorpedialogo_white.png" alt="">
                            <p>Sign up for health news and updates!</p>

                            <form id="nav-email-form" method="post">
                                <input id="Nav-Email" placeholder="Email" type="text" name="Email" value="">
                                <button id="Nav-Submit" type="submit" value="Submit" class="btn" alt="Submit Form">Subscribe</button>
                            </form>

                            <div class="">
                                <p style="margin: 0; padding-top: 20px;">Connect With Us!</p><br>
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                                <a href="#"><i class="fa fa-twitter-square"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin-square"></i></a>
                                <a href="#"><i class="fa fa-vimeo-square"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>

                        </div>
                        <div class="col-xs-2">
                        </div>
                    </div>
                </div>
            </section>
        </div>







        <!-- Video Landing -->
        <section id="video">
            <div class="container">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="video-responsive">
                        <iframe
                            src="https://player.vimeo.com/video/228171349"
                            frameborder="0"
                            webkitallowfullscreen
                            mozallowfullscreen
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </section>













        <!-- Video Nav -->
        <section id="nav">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-3">
                        <p>< See all diabetes videos</p>
                    </div>
                    <div class="col-xs-2">
                        <p><img src="../img/Summary.svg" style="width: 20px; padding-right: 5px;" alt="">Summary</p>
                    </div>
                    <div class="col-xs-2">
                        <p><img src="../img/Transcript.svg" style="width: 20px; padding-right: 5px;">View transcript</p>
                    </div>
                    <div class="col-xs-3 social-media">
                        <p>Share</p>
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-twitter-square"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-linkedin-square"></i>
                        <i class="fa fa-vimeo-square"></i>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </section>






        <!-- side-bar -->
        <section id="sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-7">
                    </div>
                    <div class="col-xs-3">
                        <h4>In this series: Diabetes</h4>
                        <p>Now playing</p>
                        <video src="videofile.ogg" autoplay poster="posterimage.jpg">

                        </video>
                        <hr>
                    </div>
                    <div class="col-xs-1">
                </div>
            </div>
        </section>




        <!-- about -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-7">
                        <h4>05. Insulin</h4>
                        <p>
                            Video summary abnormal cell growth that has the potential to invade or spread to other parts of the body. Sedicia voloren euam, ut a ne aut Ape volupta tures. Ferchilita qui corporisquis et quis as volessequo omnihil miliciet lati idereni stisqui res eum aut Ehenihil in poratem. Est latinimus abo.
                        </p>
                        <div class="transcript">
                            <a href="#">View Transcript</a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </section>


        <!-- Doctor About -->
        <section id="doctor-about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-7">
                        <h4>About DR. ALAN BENSON</h4>
                            <div style="width: 100px; height: 100px; border: 1px solid black;"></div>
                            <p>
                                Dr. Alan Benson, MD is reptaer runtissitiam id et et,
                                volecat estiunt, sitectiam quation sequidu cillabore dolent. Aximinimi, sitatem qui cus. Seratem event rerume nobitior sitatur ad minvell atiosa dolut quuntibus enderov iducienet unt. Eheni int voluptature quis di dolestis eiusam fuga. Autem consed ut dolupti untiae eos eosae. Full bio
                            </p>
                    </div>
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </section>

        <!-- Tags -->
        <section id="tags">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-7">
                        <h4 style="display: inline-block;">Tags</h4>
                        <p style="padding: 5px; display: inline-block; background-color: grey;">Insulin</p>
                        <p style="padding: 5px; display: inline-block; background-color: grey;">Recovery</p>
                        <p style="padding: 5px; display: inline-block; background-color: grey;">Disease</p>
                    </div>
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </section>



        <!-- footer -->
        <footer id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-2">
                        <h4>About</h4>
                        <a href="#"><p>About This Site</p></a>
                        <a href="#"><p>Contact Us</p></a>
                        <a href="#"><p>Site Map</p></a>
                    </div>
                    <div class="col-xs-2">
                        <h4>Legal</h4>
                        <a href="/privacy-policy"><p>Privacy Policy</p></a>
                        <a href="/terms-of-use"><p>Terms Of Use</p></a>
                        <a href="#"><p>Accessibility</p></a>
                    </div>
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-3">
                        <img src="./img/doctorpedialogo_white.png" alt="" style="width: 80%; height: auto 50px;"><br>
                        <p>© 2017 Doctorpedia. All rights reserved. Doctorpedia does not provide medical advice, diagnosis or treatment.</p><br>
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-twitter-square"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-linkedin-square"></i>
                        <i class="fa fa-vimeo-square"></i>
                        <i class="fa fa-envelope-square"></i>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </footer>

        <!-- Modal -->
        <div id="Email-Modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #9AC6EA; text-align: center;">
                        <button style="color: white; opacity: 1 !important;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <span><img src="./img/doctorpedialogo_white.png" alt="" style="width: 150px;"></span>
                    </div>
                    <div class="modal-body" style="text-align:center;">
                        <h4>Thank You For Subscribing!</h4>
                        <p>A confirmation email has been sent, please be sure to check your spam box!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/menu_dropdown.js"></script>
    <script type="text/javascript" src="../js/email_subscription.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            // Activate Carousel

        })

    </script>
</html>
