<!DOCTYPE html>
<html>
    <head>

        <!-- CSS -->
        <% include ./lib/index_f.ejs %>

        <!-- Head -->
        <%- include ./templates/partials/head %>

    </head>

    <body>

        <!-- Header Partials  -->
        <%- include ./templates/partials/header %>

        <!-- Main Landing -->
        <section id="landing">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left-side">
                        <h1>Teeth<br>Whitening</h1>
                        <span>There are a lot of options for getting whiter teeth. In-office whitening treatments, at-home kits, and even fruit can be used to get a brighter smile. But how do you know which is best for you? If you’re looking to get your teeth a bit whiter, browse our resources below to learn more about the different options and communities.</span><br>
                        <a href="#break-point-1"><button type="button" name="button" class="button btn"><span>Learn more</span></button></a>
                        <h4>Our Resource Library <br> <a href="#break-point-1"><i class="fa fa-chevron-down" aria-hidden="true" style="color: white;"></i></a></h4>
                    </div>
                    <div class="col-md-4 middle-side">
                        <div class="banner">
                            <div class="banner-info">
                                <span>HEALTH TIP</span>
                                <h3>What Your Smile Says</h3>
                                <p>Read more <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right-side">
                        <div class="banner">
                            <div class="banner-info">
                                <span>GENERAL INFORMATION</span>
                                <h3>Teeth Whitening Treatments Overview</h3>
                                <p>See the details <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- break point 1 -->
        <section id="break-point-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4><b>When it comes to our health, we all want the best resources around.</b> Choose from the following categories:</h4>
                    </div>
                    <div class="col-md-4">
                        <span style="color: #19BDD6; font-weight: 900;">Learn our vetting process</span><br>
                        <span><b>Not sure where to start? Try our health guide<b> <i class="fa fa-chevron-circle-right" style="color: #19BDD6; font-size: 14px;"></i></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- Resources Toggle -->
        <section id="resources">
            <div class="container-fluid">
                <div class="row">
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow one">
                            <img src="/icon_communitysupport.png" alt=""><br>
                            <p>Doctors & Physicians</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow two">
                            <img src="/icon_treatmenttherapies.png" alt=""><br>
                            <p>Hospitals & Treatment Centers</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow three">
                            <img src="/icon_newsinformation.png" alt=""><br>
                            <p>News & Information</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow four">
                            <img src="/icon_digitalapps.png" alt=""><br>
                            <p>Digital Apps</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow five">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Nutrition & Fitness</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow six">
                            <img src="/icon_communitysupport.png" alt=""><br>
                            <p>Community & Support</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow seven">
                            <img src="/icon_treatmenttherapies.png" alt=""><br>
                            <p>Treatments & Therapies</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow eight">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Alternative Care</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow nine">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Clinical Trials</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow ten">
                            <img src="/icon_nonprofit.png" alt=""><br>
                            <p>Non-profit Organizations</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow eleven">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Publications & Journals</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-3 col-md-1 col-lg-1 hvr-grow twelve">
                            <img src="/icon_newsinformation.png" alt=""><br>
                            <p>Books</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- HR -->
        <section id="featured">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h3>COMMON HEALTH QUESTIONS <i style="color: #21ACED;">+</i> </h3> <br>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Common Health -->
        <section id="common-health">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>What should my fasting and normal blood sugar be?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Must I go on insulin?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Do I need to see an endocrinologist?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Can I reverse my diabetes?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Aren't fruits full of carbs?</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>What does leg pain mean?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>How do I accept diabetes?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>What are good travel foods for people with diabetes?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Will insulin make me gain weight?</span>
                        </div>
                        <div class="question">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> <span>How can I lose weight?</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <section id="featured">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h3>FEATURED TIPS & ADVICE <i style="color: #21ACED;">+</i> </h3><br>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- break point 2 -->
        <section id="break-point-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-xs-1 col-md-1">
                    </div>
                    <div class="col-xs-10 col-md-4">
                        <h3>Three Fruits That May Help Brighten Your Teeth</h3>
                        <br>
                        <p>
                            Flossing and brushing your teeth may be two of the best ways to get a healthy smile, but they’re not the only ways to brighten up your teeth. Fruits and vegetables can also do some work to whiten teeth and get rid of stains. Click to learn how.
                        </p>
                        <br>
                        <a href="/health-tip-2" style="text-decoration: none;">
                            <p style="font-size: 18px; color: #6DBFF2; display: inline-block;">Full Story</p>
                            <i class="fa fa-angle-double-right" aria-hidden="true" style='display: inline-block; color: #6DBFF2;'></i>
                        </a>
                    </div>
                    <div class="col-xs-1 col-md-1">
                    </div>
                </div>
            </div>
        </section>

        <!-- break point 3 -->
        <section id="break-point-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-4">
                        <h3>What Your Smile Says About Overall Health</h3>
                        <br>
                        <p>
                            Just as our eyes are the window to our soul, our mouths speak wordlessly about our well-being. According to the Academy of General Dentistry, more than 90 percent of all medical conditions, including cardiovascular disease, are linked to dental hygiene and our habits. Click to learn more about the connection.
                        </p>
                        <br>
                        <a href="/health-tip-1" style="text-decoration: none;">
                            <p style="font-size: 18px; color: #6DBFF2; display: inline-block;">Full Story</p>
                            <i class="fa fa-angle-double-right" aria-hidden="true" style='display: inline-block; color: #6DBFF2;'></i>
                        </a>
                    </div>

                    <div class="col-xs-1 col-md-6">
                    </div>
                </div>
            </div>
        </section>

        <section id="video-break-point"  style="text-align: center; font-size: 28px; background-color: white; padding-top: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>RECOMMENDED BLOGS <i style="color: #21ACED;">+</i> </h3><br>
                    </div>
                </div>

            </div>
        </section>

        <!-- Videos -->
        <section id="videos">
            <!-- Carousel -->
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <!-- First Set Videos -->

                                    <div class="row video-carousel">
                                        <div class="video-border">
                                            <div id="video-one"></div>
                                            <h4>Teeth Whitening Treatments Overview</h4>
                                            <p>
                                                Are you pondering what the best way to whiten teeth is? You have two basic choices – over the counter remedies or a visit to the dentist – so which works best? Click to read more about our take.
                                            </p>
                                        </div>
                                        <div class="video-border">
                                            <div id="video-two"></div>
                                            <h4>Five Differences between OTC and In-Office Teeth Whitening</h4>
                                            <p>
                                                Let’s drill down (no pun intended) into the main differences between going to the dentist or using over-the-counter methods to deal with teeth whitening. Click to learn more.
                                            </p>
                                        </div>
                                        <div class="video-border">
                                            <div id="video-three"></div>
                                            <h4>Six Ways to Whiten Teeth Naturally</h4>
                                            <p>
                                                Are you one of the 18% of people who feel that they have to cover up their teeth in photos? Teeth are very noticeable, and if you’re feeling self-conscious about them, it can stop you smiling – and that’s a powerful means of communication that you’re shutting down.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <!-- Second Set of Videos -->

                                    <div class="row video-carousel">
                                        <div class="video-border">
                                            <div id="video-four"></div>
                                            <h4>Where Did My Tooth Enamel Go?</h4>
                                            <p>
                                                There are many reasons to want to whiten your teeth – but before you look at the how, let’s look at why you got to this place.
                                            </p>
                                        </div>
                                        <div class="video-border">
                                                <div id="video-five"></div>
                                                <h4>Five Ways to Keep Your Teeth Clean After Whitening</h4>
                                                <p>
                                                    So you’ve had your teeth whitened, and they’re looking amazing! Congratulations! But how do you keep them that way?
                                                </p>
                                        </div>
                                        <div class="video-border">
                                                <div id="video-six"></div>
                                                <p>
                                                    Facia as aut et et laut eaqui quo qui quaspist dolorempor Ratus, ius eume recabo.
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- HR -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8" style="padding-top: 20px;">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <%- include ./templates/partials/footer %>

        <%- include ./templates/partials/modal %>
    </body>

    <!-- JS Libraries -->
    <% include ./lib/javascript %>

    <!-- Google Analytics -->
    <% include ./lib/google_analytics %>

</html>
