<!DOCTYPE html>
<html>
    <head>

        <!-- CSS -->
        <% include ./lib/index_f.ejs %>

        <!-- Head -->
        <%- include ./templates/partials/head %>

    </head>

    <body>

        <!-- Header Partials  -->
        <%- include ./templates/partials/header %>

        <!-- Main Landing -->
        <section id="landing">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left-side">
                        <h1>Teeth<br>Whitening</h1>
                        <span> If you’re looking to get your teeth a bit whiter, browse our resources below to learn more about the different options and communities.</span><br>
                        <a href="#break-point-1"><button type="button" name="button" class="button btn"><span>Learn more</span></button></a>
                        <h4>Our Resource Library <br> <a href="#break-point-1"><i class="animated fadeOutDown infinite fa fa-chevron-down" aria-hidden="true" style="color: white;"></i></a></h4>
                    </div>
                    <div class="col-md-4 middle-side">
                        <div class="banner">
                            <a href="/health/health-tip-2">
                                <div class="banner-info">
                                    <span>HEALTH TIP</span>
                                    <h3>What Your Smile Says</h3>
                                    <p>Read more <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 right-side">
                        <div class="banner">
                            <a href="/articles/treatments-therapies">
                                <div class="banner-info">
                                    <span>GENERAL INFORMATION</span>
                                    <h3>Teeth Whitening Treatments Overview</h3>
                                    <p>See the details <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- break point 1 -->
        <section id="break-point-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4><b>When it comes to our health, we all want the best resources around.</b> Choose from the following categories:</h4>
                    </div>
                    <!-- <div class="col-md-4">
                        <span style="color: #19BDD6; font-weight: 900;">Learn our vetting process</span><br>
                        <span><b>Not sure where to start? Try our health guide<b> <i class="fa fa-chevron-circle-right" style="color: #19BDD6; font-size: 14px;"></i></span>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- Resources Toggle -->
        <section id="resources">
            <div class="container-fluid">
                <div class="row">
                    <!-- <a href="/not-found">
                        <div class="col-xs-12 col-md-1 col-lg-1 hvr-grow one">
                            <img src="/icon_communitysupport.png" alt=""><br>
                            <p>Doctors & Physicians</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="/not-found">
                        <div class="col-xs-12 col-md-1 col-lg-1 hvr-grow two">
                            <img src="/icon_treatmenttherapies.png" alt=""><br>
                            <p>Hospitals & Treatment Centers</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a> -->
                    <a href="/articles/news-information">
                        <div class="col-xs-12 col-md-2 col-lg-2 hvr-grow three">
                            <img src="/icon_newsinformation.png" alt=""><br>
                            <p>News & Information</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="/digital-apps">
                        <div class="col-xs-12 col-md-2 col-lg-2 hvr-grow four">
                            <img src="/icon_digitalapps.png" alt=""><br>
                            <p>Digital Apps</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="/articles/nutrition-fitness">
                        <div class="col-xs-12 col-md-2 col-lg-2 hvr-grow five">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Nutrition & Fitness</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="/not-found">
                        <div class="col-xs-12 col-md-2 col-lg-2 hvr-grow six">
                            <img src="/icon_communitysupport.png" alt=""><br>
                            <p>Community & Support</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="/articles/treatments-therapies">
                        <div class="col-xs-12 col-md-2 col-lg-2 hvr-grow seven">
                            <img src="/icon_treatmenttherapies.png" alt=""><br>
                            <p>Treatments & Therapies</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <!-- <a href="/articles/treatments-therapies">
                        <div class="col-xs-12 col-md-1 col-lg-1 hvr-grow eight">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Alternative Care</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="/not-found">
                        <div class="col-xs-12 col-md-1 col-lg-1 hvr-grow nine">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Clinical Trials</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a> -->
                    <a href="/articles/non-profit">
                        <div class="col-xs-12 col-md-2 col-lg-2 hvr-grow ten">
                            <img src="/icon_nonprofit.png" alt=""><br>
                            <p>Non-profit Organizations</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <!-- <a href="/not-found">
                        <div class="col-xs-12 col-md-1 col-lg-1 hvr-grow eleven">
                            <img src="/icon_nutritionfitness.png" alt=""><br>
                            <p>Publications & Journals</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a>
                    <a href="/not-found">
                        <div class="col-xs-12 col-md-1 col-lg-1 hvr-grow twelve">
                            <img src="/icon_newsinformation.png" alt=""><br>
                            <p>Books</p>
                            <span class="follow-topic">+ Follow Topic</span>
                        </div>
                    </a> -->
                </div>
            </div>
        </section>

        <!-- HR -->
        <section id="featured">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <hr>
                        <h3>COMMON HEALTH QUESTIONS <i style="color: #21ACED;">+</i> </h3> <br>
                        <hr>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Common Health -->
        <section id="common-health">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="question">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>How much does tooth whitening cost?</span>
                            </div>
                            <p class="question-toggle">Prices vary widely for tooth whitening. Over-the-counter kits can cost as little as $20, with extensive in-office procedures approaching up to $1,000. If you want professional whitening, expect the price to be around $300 to $800. If you want an at-home bleaching kit from your dentist, expect to pay between $300 and $600. Learn more about dental insurance and financing.</p>
                        </div>
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>Does tooth whitening affect fillings, veneers or crowns?</span>
                            </div>
                            <p class="question-toggle">Tooth whitening has little or no effect on restorative materials such as porcelain or crowns, but it may temporarily reduce the bond strength between enamel and composite restorations. This is why it’s a good idea to check with your dental professional before beginning any course of tooth whitening.</p>
                        </div>
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>Is tooth bleaching safe?</span>
                            </div>
                            <p class="question-toggle">Yes, many studies have proven that tooth whitening is safe. You can protect your tooth enamel by using calcium sulfate and fluoride.</p>
                        </div>
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>How long does tooth whitening last?</span>
                            </div>
                            <p class="question-toggle">Typically you can expect whitening to last from six months to two years, although some studies report results lasting up to 10 years. Avoiding red wine, coffee, and smoking—all of which can cause staining—helps preserve the results.</p>
                        </div>
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>Can I get my teeth whitened?</span>
                            </div>
                            <p class="question-toggle">Most people are candidates for tooth whitening, but again, each situation is unique and it’s best to contact your dental professional.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>How Can I whiten my teeth naturally?</span>
                            </div>
                            <p class="question-toggle">There is an array of different nutrition guides and tips based soley on diet and natural ways to develope that beautiful white smile.</p>
                        </div>
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>Yes, Doctors can help.</span>
                            </div>
                            <p class="question-toggle">Doctors have a way to diagnose your specific life-style and find ways to best accomadate to that regarding healing your teeth.</p>
                        </div>
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>Best daily things you should be doing?</span>
                            </div>
                            <p class="question-toggle">You can do things such as brushing as soon as you wake up, to the last meal you're going to have at night. Flossing and using mouthwash DAILY is an essential way to keep your teeth healthy. </p>
                        </div>
                        <div class="question animated">
                            <div class="question-hover animated">
                                <i class="fa  fa-commenting-o " aria-hidden="true"></i> <span>How much is the normal cost of a teeth whitening session??</span>
                            </div>
                            <p class="question-toggle">Simply put, it varies. It depends on what it needs to be scheduled and what your insurance allows. The best course of action is to contact your local dentist and ask him for a consultation.</p>
                        </div>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- break point 2 -->
        <section id="break-point-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-xs-1 col-md-1">
                    </div>
                    <div class="col-xs-10 col-md-4">
                        <h3>Three Fruits That May Help Brighten Your Teeth</h3>
                        <br>
                        <!-- <p>
                            Flossing and brushing your teeth may be two of the best ways to get a healthy smile, but they’re not the only ways to brighten up your teeth. Fruits and vegetables can also do some work to whiten teeth and get rid of stains. Click to learn how.
                        </p> -->
                        <br>
                        <a href="/health/health-tip-1" style="text-decoration: none;">
                            <button type="button" name="button" class="button btn"><span>Full Story</span></button>
                        </a>
                    </div>
                    <div class="col-xs-1 col-md-1">
                    </div>
                </div>
            </div>
        </section>

        <!-- break point 3 -->
        <section id="break-point-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-4">
                        <h3>What Your Smile Says About Overall Health</h3>
                        <br>
                        <!-- <p>
                            Just as our eyes are the window to our soul, our mouths speak wordlessly about our well-being. According to the Academy of General Dentistry, more than 90 percent of all medical conditions, including cardiovascular disease, are linked to dental hygiene and our habits. Click to learn more about the connection.
                        </p> -->
                        <br>
                        <a href="/health/health-tip-2" style="text-decoration: none;">
                                <button type="button" name="button" class="button btn"><span>Full Story</span></button>
                        </a>
                    </div>

                    <div class="col-xs-1 col-md-6">
                    </div>
                </div>
            </div>
        </section>

        <section id="video-break">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <hr>
                        <h3>RECOMMENDED BLOGS <i style="color: #21ACED;">+</i> </h3>
                        <hr>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Videos -->
        <section id="videos">
            <!-- Carousel -->
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <!-- First Set Videos -->

                                    <div class="row video-carousel">
                                        <div class="video-border">
                                            <a href="/blogs/blog-1"><div id="video-one"></div></a>
                                            <h4>Teeth Whitening Treatments Overview</h4>
                                            <p>
                                                Are you pondering what the best way to whiten teeth is? You have two basic choices – over the counter remedies or a visit to the dentist.
                                            </p>
                                        </div>
                                        <div class="video-border">
                                            <a href="/blogs/blog-2"><div id="video-two"></div></a>
                                            <h4>Differences between OTC and IO Teeth Whitening</h4>
                                            <p>
                                                Let’s drill down (no pun intended) into the main differences between going to the dentist or using over-the-counter methods.
                                            </p>
                                        </div>
                                        <div class="video-border">
                                            <a href="/blogs/blog-3"><div id="video-three"></div></a>
                                            <h4>Six Ways to Whiten Teeth Naturally</h4>
                                            <p>
                                                Are you one of the 18% of people who feel that they have to cover up their teeth in photos? Teeth are very noticeable, and if you’re feeling self-conscious about them.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <!-- Second Set of Videos -->

                                    <div class="row video-carousel">
                                        <div class="video-border">
                                            <a href="/blogs/blog-1"><div id="video-four"></div></a>
                                            <h4>Where Did My Tooth Enamel Go?</h4>
                                            <p>
                                                There are many reasons to want to whiten your teeth – but before you look at the how, let’s look at why you got to this place.
                                            </p>
                                        </div>
                                        <div class="video-border">
                                                <a href="/blogs/blog-1"><div id="video-five"></div></a>
                                                <h4>Five Ways to Keep Your Teeth Clean After Whitening</h4>
                                                <p>
                                                    So you’ve had your teeth whitened, and they’re looking amazing! Congratulations! But how do you keep them that way?
                                                </p>
                                        </div>
                                        <div class="video-border">
                                                <a href="/blogs/blog-1"><div id="video-six"></div></a>
                                                <h4>Teeth Whitening Specialists In Your City</h4>
                                                <p>
                                                    We'll help you find the best Teeth Whitening specialists currently in your location!
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- HR -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8" style="padding-top: 20px;">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <%- include ./templates/partials/footer %>

        <%- include ./templates/partials/modal %>
    </body>

    <!-- JS Libraries -->
    <% include ./lib/javascript %>

    <!-- Google Analytics -->
    <% include ./lib/google_analytics %>

</html>
