
<div id="ezoic-ads">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
                
                <!-- Ezoic - Middle-TeethWhitening - mid_content -->
                <div id="ezoic-pub-ad-placeholder-106"></div>
                <!-- End Ezoic - Middle-TeethWhitening - mid_content -->

            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>
</div>
