


<!-- Browse Content -->
<section id="browse">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-md-2">
            </div>
            <div class="col-xs-10 col-md-4 .sss">
                <h3>Browse Resources</h3>
                <ul>
                    <!-- <a href="/not-found"><li><img src="/icon_communitysupport.png" alt="">&nbsp;Doctors & Physicians</li></a> -->
                    <!-- <a href="/digital-apps"><li><img src="/icon_digitalapps.png" alt="">&nbsp;Hospitals & Treatment Centers</li></a> -->
                    <a href="/articles/news-information"><li><img src="/icon_newsinformation.png" alt="">&nbsp;News & Information</li></a>
                    <a href="/digital-apps"><li><img src="/icon_digitalapps.png" alt="">&nbsp;Digital Apps</li></a>
                    <a href="/articles/nutrition-fitness"><li><img src="/icon_nutritionfitness.png" alt="">&nbsp;Nutrition & Fitness</li></a>
                    <!-- <a href="/not-found"><li><img src="/icon_digitalapps.png" alt="">&nbsp;Publications & Journals</li></a> -->

                </ul>
            </div>
            <div class=".ttt col-xs-10 col-md-4" style="padding-top: 76px;">
                <ul>
                    <a href="/articles/treatments-therapies"><li><img src="/icon_treatmenttherapies.png" alt="">&nbsp;Treatments & Therapies</li></a>
                    <!-- <a href="/articles/nutrition-fitness"><li><img src="/icon_nutritionfitness.png" alt="">&nbsp;Alternative Care</li></a> -->
                    <!-- <a href="/articles/treatments-therapies"><li><img src="/icon_treatmenttherapies.png" alt="">&nbsp;Clinical Trials</li></a> -->
                    <a href="/articles/non-profit"><li><img src="/icon_nonprofit.png" alt="">&nbsp;Non-profit Organizations</li></a>
                    <a href="/community-support"><li><img src="/icon_communitysupport.png" alt="">&nbsp;Community & Support</li></a>
                    <!-- <a href="/not-found"><li><img src="/icon_newsinformation.png" alt="">&nbsp;Books</li></a> -->
                </ul>
            </div>
            <div class="col-xs-1 col-md-2">
            </div>
        </div>

    </div>
</section>
