<!-- Browse Content -->
<section id="browse">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
                <h3>Browse Resources</h3>
                <ul>
                    <a href="/not-found"><li><img src="./img/icon_communitysupport.png" alt="">&nbsp;Community & Support</li></a>
                    <a href="/digital-apps"><li><img src="./img/icon_digitalapps.png" alt="">&nbsp;Digital Apps</li></a>
                    <a href="/news-information"><li><img src="./img/icon_newsinformation.png" alt="">&nbsp;News & Information</li></a>
                </ul>
            </div>
            <div class="col-xs-4">
                <h3>&nbsp;</h3>
                <ul>
                    <a href="/non-profit"><li><img src="./img/icon_nonprofit.png" alt="">&nbsp;Non-Profit</li></a>
                    <a href="/nutrition-fitness"><li><img src="./img/icon_nutritionfitness.png" alt="">&nbsp;Nutrition & Fitness</li></a>
                    <a href="/treatments-therapies"><li><img src="./img/icon_treatmenttherapies.png" alt="">&nbsp;Treatment & Therapies</li></a>
                </ul>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
</section>
