<!-- break point 2 -->
<section id="break-point-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-4">
                <h3>Three Fruits That May Help Brighten Your Teeth</h3>
                <br>
                <p>
                    Flossing and brushing your teeth may be two of the best ways to get a healthy smile, but they’re not the only ways to brighten up your teeth. Fruits and vegetables can also do some work to whiten teeth and get rid of stains. Click to learn how.
                </p>
                <br>
                <a href="/health-tip-1" style="text-decoration: none;">
                    <p style="font-size: 18px; color: #6DBFF2; display: inline-block;">Full Story</p>
                    <i class="fa fa-angle-double-right" aria-hidden="true" style='display: inline-block; color: #6DBFF2;'></i>
                </a>
            </div>
            <div class="col-xs-1">
            </div>
        </div>
    </div>
</section>

<!-- break point 3 -->
<section id="break-point-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
                <h3>What Your Smile Says About Overall Health</h3>
                <br>
                <p>
                    Just as our eyes are the window to our soul, our mouths speak wordlessly about our well-being. According to the Academy of General Dentistry, more than 90 percent of all medical conditions, including cardiovascular disease, are linked to dental hygiene and our habits. Click to learn more about the connection.
                </p>
                <br>
                <a href="/health-tip-2" style="text-decoration: none;">
                    <p style="font-size: 18px; color: #6DBFF2; display: inline-block;">Full Story</p>
                    <i class="fa fa-angle-double-right" aria-hidden="true" style='display: inline-block; color: #6DBFF2;'></i>
                </a>
            </div>

            <div class="col-xs-6">
            </div>
        </div>
    </div>
</section>
