
<!-- community -->
<section id="community">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <h3>Blog Posts</h3><br>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-xs-6 col-md-2 forum">
                <div class="box">
                    <h4>Teeth Whitening Treatments Overview</h4>
                    <p>
                        Are you pondering what the best way to whiten teeth is? You have two basic choices – over the counter remedies or a visit to the dentist – so which works best? Click to read more about our take.
                    </p>
                    <a href="/blogs/blog-2">
                        <p>Read More</p>
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                    <!-- <p class="author">Author's Name</p>
                    <p>4 hrs ago</p> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-2 forum">
                <div class="box odd">
                    <h4>Five Differences between OTC and In-Office Teeth Whitening</h4>
                    <p>
                        Let’s drill down (no pun intended) into the main differences between going to the dentist or using over-the-counter methods to deal with teeth whitening. Click to learn more.
                    </p>
                    <a href="/blogs/blog-1">
                        <p>Read More</p>
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                    <!-- <p class="author">Author's Name</p>
                    <p>4 hrs ago</p> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-2 forum">
                <div class="box ">
                    <h4>Six Ways to Whiten Teeth Naturally</h4>
                    <p>
                        Are you one of the 18% of people who feel that they have to cover up their teeth in photos? Teeth are very noticeable, and if you’re feeling self-conscious about them, it can stop you smiling – and that’s a powerful means of communication that you’re shutting down.
                    </p>
                    <a href="/blogs/blog-3">
                        <p>Read More</p>
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                    <!-- <p class="author">Author's Name</p>
                    <p>4 hrs ago</p> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-2 forum">
                <div class="box odd">
                    <h4>Where Did My Tooth Enamel Go?</h4>
                    <p>
                        There are many reasons to want to whiten your teeth – but before you look at the how, let’s look at why you got to this place.
                    </p>
                    <a href="/blogs/blog-4">
                        <p>Read More</p>
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                    <!-- <p class="author">Author's Name</p>
                    <p>4 hrs ago</p> -->
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>
