<!-- Sticky Social -->
<section id="sticky-social">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <i class='fa fa-facebook'></i><br>
                <i class='fa fa-twitter'></i><br>
                <i class='fa fa-instagram'></i><br>
                <i class='fa fa-linkedin'></i><br>
                <i class='fa fa-vimeo'></i><br>
                <i class='fa fa-envelope-o'></i>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us Title -->
<section id="contact-us-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
                <h4><img src="/icon_newsinformation.png" style="width: 30px; height: 30ox;" alt=""> <%= title %></h4>
                <p> Health / <%= subPage %> / <%= title %></p>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
</section>
