
<!-- how break point -->
<section id="how">
    <div class="container-fluid">
        <div class="row">
            <div class="row how-title col-xs-12 col-md-12">
                <h4>How this site works</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 how-content-one">
                <p>
                    Doctorpedia is a collection of resources on different conditions and is not meant to be
                    used to diagnose or treat those conditions. We provide a guide to working through medical
                    content, but this does not constitute medical advice and you should talk with a medical
                    professional when necessary. Information published or referenced on this site is current
                    at the time of posting, but may not be the most up-to-date information available. Always
                    do your own research and consult a physician if you have questions.
                </p>
            </div>
            <!-- <div class="col-xs-12 col-md-6 how-content-two">
                <p>
                    Info at the point of publication, unfortunately website information can always be changed by the provider afterwards, so double check first.We don’t as a general policy investigate the solvency of companies mentioned (how likely they are to go bust), but there is a risk any company can struggle and it’s rarely made public until it’s too late. We often link to other websites, but we can’t be responsible for their content. Diabetespedia is entirely editorially independent. Its stance of putting consumers first is protected and enshrined in the legally-binding MSE Editorial Code.
                </p>
            </div> -->
        </div>
    </div>
</section>

<!-- footer -->
<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-md-1">
            </div>
            <div class="col-xs-2 col-md-2">
                <h4>About</h4>
                <!-- <a href="#"><p>About This Site</p></a> -->
                <a href="/contact-us"><p>Contact Us</p></a>
                <!-- <a href="#"><p>Site Map</p></a> -->
            </div>
            <div class="col-xs-2 col-md-2">
                <h4>Legal</h4>
                <a href="/privacy-policy"><p>Privacy Policy</p></a>
                <a href="/terms-of-use"><p>Terms Of Use</p></a>
                <!-- <a href="#"><p>Accessibility</p></a> -->
            </div>
            <div class="col-xs-2 col-md-3">
            </div>
            <div class="col-xs-4 col-md-4">
                <img src="/doctorpedialogo_white.png" alt="" style="width: 80%; height: auto 50px;"><br>
                <p>© 2017 Doctorpedia. All rights reserved. Doctorpedia does not provide medical advice, diagnosis or treatment.</p><br>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin-square"></i>
                <i class="fa fa-vimeo-square"></i>
                <i class="fa fa-envelope-square"></i>
            </div>
            <div class="col-xs-1 col-md-1">
            </div>
        </div>
    </div>
</footer>
