
<!-- Header -->
<div class="top-nav">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 Title">
                    <a href="/"><span class="ED">TeethWhitening</span><span class="ED-pedia">pedia</span></a><span class="hr"> | </span> <span class="ED-desc"> The <span style="color: #7FAAD7;">teeth whitening</span> resource you can trust</span>
                </div>
                <div class="col-lg-4 search-menu">

                    <a href="#"><i class="fa fa-bars toggle-menu" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </header>

    <!-- Drop Down Menu -->
    <section id="main-menu">
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-xs-12 col-md-4 menu-left ">
                    <div class="">
                        RESOURCE GUIDE
                        <!-- <i class="fa fa-info-circle" style="float: right; font-size: 14px;" aria-hidden="true"></i> -->
                    </div>
                    <div class="">
                        <a href="/articles/news-information">News & Information</a>
                    </div>
                    <div class="">
                        <a href="/articles/treatments-therapies">Treatments & Therapies</a>
                    </div>
                    <div class="">
                        <a href="/digital-apps">Digital Apps</a>
                    </div>
                    <div class="">
                        <a href="/articles/nutrition-fitness">Nutrition & Fitness</a>
                    </div>
                    <div class="">
                        <a href="/not-found">Community & Support</a>
                    </div>
                    <div class="">
                        <a href="/articles/non-profit">Non-profit Organizations</a>
                    </div>
                    <span class="">
                        <h4>ABOUT</h4>
                        <a href="/contact-us"><p>Contact Us</p></a>
                        <br>
                        <h4>LEGAL</h4>
                        <a href="/privacy-policy"><p>Privacy Policy</p></a>
                        <a href="/terms-of-use"><p>Terms Of Use</p></a>
                        <!-- <p><a href="#">Accessibility</a></p> -->
                    </span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4>Learn From Real Doctors</h4>
                    <img src="/doctorpedialogo_white.png" alt="">
                    <p>Sign up for health news and updates!</p>

                    <form id="nav-email-form" method="post">
                        <input id="Nav-Email" placeholder="Email" type="text" name="Email" value="">
                        <button id="Nav-Submit" type="submit" value="Submit" class="btn" alt="Submit Form">Subscribe</button>
                    </form>

                    <!-- <div class="">
                        <p style="margin: 0; padding-top: 20px;">Connect With Us!</p>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        <a href="#"><i class="fa fa-vimeo-square"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div> -->

                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </section>
</div>
