
<!-- Modal -->
<div id="Email-Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #9AC6EA; text-align: center;">
                <button style="color: white; opacity: 1 !important;" type="button" class="close" data-dismiss="modal">&times;</button>
                <span><img src="./img/doctorpedialogo_white.png" alt="" style="width: 150px;"></span>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Thank You For Subscribing!</h4>
                <p>A confirmation email has been sent, please be sure to check your spam box!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
