<!-- Resources Toggle -->
<section id="resources">
    <div class="container-fluid">
        <div class="row">
            <a href="/news-information">

                <div class="col-xs-4 col-md-2 one hvr-grow">
                    <img src="/icon_newsinformation.png" alt="" style="width: 60px; height: 60px;"><br>
                    <p>News & Information</p>
                </div>
            </a>

            <a href="/treatments-therapies">

                <div class="resource-static col-xs-4 col-md-2 two hvr-grow">
                    <img src="/icon_treatmenttherapies.png" alt="" style="width: 60px; height: 60px;"><br>
                    <p class="t-t-static">Treatments & Therapies</p>
                    <div class="resource-on-hover" style="display: none;">
                        <p>Treatments</p>
                        <p>Therapies</p>
                    </div>
                </div>
            </a>

            <a href="/digital-apps">
                <div class="col-xs-4 col-md-2 three hvr-grow">
                    <img src="/icon_digitalapps.png" alt="" style="width: 60px; height: 60px;"><br>
                    <p>Digital Apps</p>
                </div>
            </a>
            <a href="/nutrition-fitness">
                <div class="col-xs-4 col-md-2 four hvr-grow">
                    <img src="/icon_nutritionfitness.png" alt="" style="width: 60px; height: 60px;"><br>
                    <p>Nutrition & Fitness</p>
                </div>
            </a>
            <a href="/not-found">
                <div class="col-xs-4 col-md-2 five hvr-grow">
                    <img src="/icon_communitysupport.png" alt="" style="width: 60px; height: 60px;"><br>
                    <p>Community & Support</p>
                </div>
            </a>
            <a href="/non-profit">
                <div class="col-xs-4 col-md-2 six hvr-grow">
                    <img src="/icon_nonprofit.png" alt="" style="width: 60px; height: 60px;"><br>
                    <p>Non-profit Organization</p>
                </div>
            </a>
        </div>
    </div>
</section>
