
<!-- Videos -->
<section id="videos">

    <!-- Main Video -->
    <div class="main-video-container">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
                <div id="main-video">
                </div>
            </div>
            <div class="col-xs-1">
            </div>
        </div>
    </div>
    <br>

    <!-- Carousel -->
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-10">

                            <!-- First Set Videos -->

                            <div class="row video-carousel">
                                <div class="video-border">
                                    <div id="video-one"></div>
                                    <p>
                                        Watch Dr. Moldovan explain why you should get your teeth whitened.
                                    </p>
                                </div>
                                <div class="video-border">
                                    <div id="video-two"></div>
                                    <p>
                                        Learn about the potential candidates for teeth whitening.
                                    </p>
                                </div>
                                <div class="video-border">
                                    <div id="video-three"></div>
                                    <p>
                                        Hear about the available treatment options.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-10">

                            <!-- Second Set of Videos -->

                            <div class="row video-carousel">
                                <div class="video-border">
                                    <div id="video-four"></div>
                                    <p>
                                        Learn about alternatives to teeth whitening.
                                    </p>
                                </div>
                                <div class="video-border">
                                        <div id="video-five"></div>
                                    <p>
                                        Hear about additional methods and alternatives.
                                    </p>
                                </div>
                                <div class="video-border">
                                        <div id="video-six"></div>
                                    <p>
                                        Learn how to properly maintain your teeth after whitening.
                                    </p>
                                </div>
                            </div>


                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-10">

                            <!-- Third Set of Videos -->

                            <div class="row video-carousel">
                                <div class="video-border">
                                        <div id="video-seven"></div>
                                    <p>
                                        Learn what you can expect from teeth whitening.
                                    </p>
                                </div>
                                <div class="video-border">
                                    <div id="video-eight"></div>
                                    <p>
                                        What is a white diet? Why you must follow this diet after whitening.
                                    </p>
                                </div>
                                <div class="video-border">
                                    <div id="video-nine"></div>
                                    <p>
                                        Intro to Dr. Moldovan
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: #7FAAD7"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #7FAAD7"></span>
            <span class="sr-only">Next</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #7FAAD7"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
